# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules
dist
dist-ssr
.output

# Local environment files
*.local
.env
.env.*

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Astro build files
.astro

# TypeScript specific
*.tsbuildinfo

# Temporary files and directories
tmp
temp
